body{
    margin:0;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#ffedf5;
    font-family:Arial, Helvetica, sans-serif;
}

.container{
    background:#ff69b4;
    padding:30px;
    border-radius:12px;
    width:350px;
    color:white;
    box-shadow:0 0 20px rgba(255,105,180,.4);
}

h1{
    text-align:center;
    color:white;
}

input[type=text]{
    width:100%;
    padding:12px;
    font-size:18px;
    margin-bottom:20px;
    border:none;
    border-radius:6px;
    background:#fff;
    color:#d63384;
}

.config{
    display:flex;
    flex-direction:column;
    gap:10px;
    margin-bottom:20px;
    color:white;
}

input[type="number"]{
    border-radius:6px;
    border:none;
    padding:5px;
}

button{
    width:100%;
    padding:12px;
    margin-top:10px;
    border:none;
    border-radius:6px;
    background:#ff1493;
    color:white;
    cursor:pointer;
    font-size:16px;
    transition:0.3s;
}

button:hover{
    background:#e60073;
}