body{
    margin:0;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#1e1e2f;
    font-family:Arial, Helvetica, sans-serif;
}

.container{
    background:#2b2b40;
    padding:30px;
    border-radius:12px;
    width:350px;
    color:white;
    box-shadow:0 0 20px rgba(0,0,0,.3);
}

h1{
    text-align:center;
}

input[type=text]{
    width:100%;
    padding:12px;
    font-size:18px;
    margin-bottom:20px;
    border:none;
    border-radius:6px;
}

.config{
    display:flex;
    flex-direction:column;
    gap:10px;
    margin-bottom:20px;
}

button{
    width:100%;
    padding:12px;
    margin-top:10px;
    border:none;
    border-radius:6px;
    background:#00b894;
    color:white;
    cursor:pointer;
    font-size:16px;
}

button:hover{
    background:#00a383;
}